PORT=5000
NODE_ENV=development
MONGO_URI=mongodb+srv://SAKEEB:SAKEEB1234@mark1.9jarrmd.mongodb.net/KeeBo?retryWrites=true&w=majority
JWT_SECRET=NothingButSecret
JWT_EXPIRES_IN=30d

# Cloudinary Config
CLOUDINARY_CLOUD_NAME=dyxqvm0qp
CLOUDINARY_API_KEY=532829268691858
CLOUDINARY_API_SECRET=_FEBJ3KNU_UfWFiFoYRFGBCGnBc
